* active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

img {
    max-width: 100%;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-bg {
    background: #212529;
    padding-top: 0;
    padding-bottom: 0;
}

nav.navbar .navbar-nav .nav-link {
    padding: 15px;
    color: #fff;
}

.navbar .navbar-brand {
    color: #fed136;
    font-style: italic;
}

nav.navbar .navbar-nav .nav-link.disabled {
    color: #eee;
}


nav.navbar .navbar-nav .active > .nav-link {
    color: #fed136;
}

.navbar .navbar-toggler {
    color: #fed136;
}

/*.navbar .navbar-toggler:not([aria-expanded='false']) {*/
/*    color: #fff;*/
/*}*/
/*======працює аналогічно до вищевказаного прикладу======*/
.navbar .navbar-toggler[aria-expanded='true'] {
    color: #fff;
}

.title {
    text-align: center;
}

.btn-yellow {
    background: #fed136;
    border-color: #fed136;
    color: #fff;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: none;
}


.btn-yellow:hover {
    color: white;
    background: #fec810;
}

.btn-yellow:active, .btn-yellow:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.52);
}

.title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.title.white h2 {
    color: #fff;
}

.title h3 {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 75px;
}

.section-1 {
    padding: 300px 0 200px;
    background: url("../img/header-bg.jpg") no-repeat center;
    background-size: cover;
    color: white;
}

.section-1 p {
    font-size: 40px;
    margin-bottom: 25px;
}

.section-1 h1 {
    font-size: 75px;
    margin-bottom: 50px;
}

.section-2 {
    padding: 100px 0;
}

.section-2 .item .item-img {
    margin-bottom: 15px;
}

.section-2 .item .item-img i:first-child {
    color: rgb(254, 209, 54);
}

.section-2 .item h4 {
    margin-bottom: 15px;
}

.section-3 {
    background: #f8f9fa;
    padding: 100px 0;
}

.section-3 .item {
    margin-bottom: 30px;
}


.section-3 .item .item-img {
    position: relative;
}


.section-3 .item .item-img::before {
    position: absolute;
    background: rgba(254, 209, 54, .9);
    color: #fff;
    content: '\f067';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-size: 60px;
    padding: 65px 0;
    opacity: 0;
    transition: 0.5s;


}

.section-3 .item .item-img:hover::before {
    opacity: 1;

}

.section-3 .item .item-content {
    padding: 20px;
    background: #fff;
}

.section-3 .item .item-content * {
    margin: 0;
}

.section-3 .item .item-content h4 {
    font-weight: 700;
}

.section-3 .item .item-content p {
    font-size: 16px;
    font-style: italic;
}

.section-4 {
    padding: 100px 0;
}

.section-4 .timeline {
    padding: 0 10px;
    position: relative;
}

.section-4 .timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #eee;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    z-index: -1;
}

.section-4 .timeline .point {
    position: relative;
    margin-bottom: 100px;
    min-height: 170px;

}

.section-4 .timeline .point:after {
    content: '';
    display: table;
    clear: both;
}

.section-4 .timeline .point-img {
    position: absolute;
    border-radius: 50%;
    /*border: 5px solid #eee;*/
    background: #eee;
    padding: 7px;
    width: 170px;
    height: 170px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;

}

.section-4 .timeline .point-img img {
    border-radius: 50%;
}

.section-4 .timeline .point-panel {
    max-width: calc(100% - 50% - 170px / 2);
    text-align: right;
    padding-left: 100px;
    padding-right: 20px;
}

.section-4 .timeline .point:nth-child(even) .point-panel {
    float: right;
    text-align: left;
    padding-left: 20px;
    padding-right: 100px;
}

.section-4 .timeline .point-panel p {
    color: #666;
}

.section-4 .timeline .point:last-child {
    margin-bottom: 0;
    text-align: center;
}

.section-4 .timeline .point:last-child .point-img {
    border: 7px solid #eee;
    background-color: #fed136;
    color: #fff;
    padding-top: 35px;
}

.section-5 {
    padding: 100px 0;
    background: #f6f6f6;
}

.section-5 .item {
    margin-bottom: 30px;
}

.section-5 .item .item-img {
    border: 7px solid #eee;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    overflow: hidden;
    margin: 0 auto 25px;
}

.section-5 .item .item-icon a {
    color: #000;
    font-size: 24px;
    transition: .3s;
}

.section-5 .item .item-icon a:hover {
    color: #fed136;
}

.section-6 {
    padding: 50px 0;
}

.section-7 {
    background-color: #212529;
    background-image: url("../img/map-image.png");
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.section-7 .contact-form textarea {
    height: 100%;
}

.section-7 .form-group {
    margin-bottom: 30px;
}

.section-7 .form-group .form-control {
    padding: 20px;
}

.section-7 .contact-form input {
    height: auto;
}

.section-7 .contact-form .form-control::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: #bbb;
}

.section-7 .contact-form textarea {
    resize: none;
}

.footer {
    padding: 20px 0;
}

.footer .social-links {
    color: #000;
    font-size: 24px;
}

.footer a {
    color: #fed136;
    text-decoration: none;
}

.footer a:hover {
    color: #fed136;
}

@media (max-width: 992px) {
    .section-3 .item-img img{
        width: 100%;
    }
    .section-4 .timeline .point-panel {
        padding-left: 10px;
        padding-right: 20px;
    }

}

@media (max-width: 768px) {
    .section-4 .timeline::before {
        left: 95px;
        right: auto;
    }

    .section-4 .timeline .point-img {
        right: auto;
    }

    .section-4 .timeline .point-panel {
        padding-left: 180px !important;
        max-width: inherit;
        text-align: left;
    }

    .section-4 .timeline .point:nth-child(even) .point-panel {
        float: none;
        padding-right: 20px;

    }


}
